#main{
	background-color: #f7f7f5;
}
/* phim hay-----------------------------------------------------------*/
.menu_side {
			text-decoration: none;
			padding: 10px 30px 10px 30px;
			display: block;
			float: left;
			background-color: #2d454d;
			color: #f5f5f5;
			font-size: 17px;
		}

.paraghap1 {
			width: 100%;
		}
.side_table{
	padding: 20px;
	color: #dd00ff;
	font-size: 30px;
}
.paraghap1 > td > p{
			padding: 10px 20px;
		}
.left_side{
	text-align: left;
	font-size: 22px;

}
#para{
	text-align: left;
	font-size: 22px;
	padding: 0px 15px 0px 15px;
	text-align: justify;

}
#para:hover{
	color: blue;
	font-weight: bold;
}
/*tin xem nhieu-------------------------------------------------------------*/
.yok {
	color: #5c5749;
	text-decoration: none;
	font-weight: bold;
}

#haha{
	color: #f00cdd;
	text-align: center;
	font-size: 25px;
	margin: 0;
	padding: 30px;
	background-color: #ffe08a;
	}
div > p > a:hover{
		color: #f00c0c;
		}
	#vip1{
		background-color: #ede0cc;
	}


		/*tin moi-------------------*/

#tinmoi_style{
		color: #f08d0c;
		text-align: center;
		font-size: 35px;
	}
	.color_other{
		color: #860cf0;
		font-size: 30px;
	}

.ii:hover{
	color: #1e08c7;
	font-weight: bold;

} 

.ii{
	padding: 14px;
}

#new_vip{
	background-color: #eef5df;
}
.img_up{
	padding: 0px 10px 0px 0px;
	margin: 0;
}
/*----------------------------------------*/
#MyInfo_style{
	color: #00f539;
}
#font_side{
	font-size: 120%;
}
#flex_container2{
	display: flex;
	flex-wrap: nowrap;
}
#float_left{
	flex: 30%;
	padding: 15px;
	background-color: #ebe6f5;
}
#float_right{
	flex: 70%;
	padding: 15px;
	background-color: #cef0e4;
}
.item_news{
	flex: 33%;
	text-align: center;
}
.video_news{
	max-width: 80%;
	padding: 15px;
}
#flex_container3{
	display: flex;
	flex-wrap: wrap;
}
@media(max-width: 1084px){
	#flex_container2{
		flex-wrap: wrap;
	}
	#float_right{
		flex: 100%;
	}
	#float_right{
		flex: 100%;
	}
}
@media(max-widthL: 750px){
	.item_news{
		flex: 50%;
	}
	#flex_container3{
		flex-wrap: wrap;
	}
}
#news_title{
	text-align: center;
	font-size: 30px;
	color: red;
	font-weight: bold;
}
	
.title_news{
	color: red;
	padding: 5px;
	text-align: center;
	
}
/*hoa dep---------------------------------------------------------*/
#hoa_yeu{
	text-align: center;
	color: red;
	background-color: #f4b8f5;
	margin: -1px;
	padding: 15px;
}
/*trang chu--------------------------------------------------------------*/
nav{
	text-align: center;
	background-color: #2d454d;
	overflow: hidden;
}

nav > a:hover{
			color: #daff05;
			background-color: red;
}
#side_info_email{
	text-decoration: none;
}

#side_info_email:hover{
	color: yellow;
	background-color: #4c6351;
}	

#My_title{
	padding: 100px;
	color: #ff0000;
	text-align: center;
	background-color: #abff52;
	margin: 0;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 2px 2px 5px;
}

footer{
	padding: 30px;
	color: white;
	background-color: black;
	text-align: center;
}
#img_container{
	display: flex;
	flex-wrap: wrap;
}
.img_item{
	text-align: center;
	flex: 20%;
	font-size: 150%
}

.img_img{
	padding: 10px;
	width: 90%;
	margin: 0;
}
.disc_img{
	padding: 0 10px 20px 10px;
}


.tesst{
	flex: 50%;
	text-align: left;
	padding: 0px 0px 0px 10px;

}
#info_container{
	display: flex;
	flex-wrap: nowrap;
}

@media(max-width: 800px){

	.img_item {
		flex: 50%;
	}
	#font_side{
		flex-wrap: wrap;
		font-size: 80%;
	}

	#info_container{
	flex-wrap: wrap;
	}
	.tesst{
	width: 50%;
	text-align: left;
	}
	
}

nav > a:link{
	color: white;
}
nav > a:active{
	font-weight: bold;
	background-color: red;
	color: blue;
}
nav > a:visited{
	text-decoration: underline;
}


